<h4 style='margin-bottom:20px;'>Asciigram is a product of the Node Knockout competition. <a href='http://nodeknockout.com/teams/comorichweb'>team page</a></h4>

<div id='peep' class='row'>
<div class='span4'>

<pre id='aaron' class='about-imgs'>
*!!*!.*;!;;;;;:;:;;;;!*;:;;=;::~---~~-~-----~~--~*;:;!::::~:::::;;:;:;;***!==========***$=$$$**!!;;;;!***!*=*
!!!*!.*;;;;;;::;;;::!!*:;:;*:::~------------~--:;=*;!**!;::::::::::;:;!*!*!====*=====***$=$$$!*;;;;;*******=*
!!!**~*;;;:;;:;;;::;;!!::::$::~~-------,----:!=$=$$$=$=$=**!;~::::~::;;*!*!=*=*=======*=$=$=$*!!!!!!=***=$**=
!!!!! *;:;;;:;;;:::;;;;;::;=:~:~-,-,-,,----;$===$$$$$=$$$$$==*;::::;::;=!!!===*====**=**$$==$!!!***=$=**=$==*
!!*!!.*;;:;;;;:::::;!!:::;;*::~~---,-,,,,:*====$$$#$$$$$$=$$==*:::::::;*!!!**=========**=====!!===$$$$==$$$*=
!!*!!.!;;;;;;;;;:;;;;!!;;*!=;!;;:::~~~~-!====$$$$$$$#$$##$#$$==*;::::;;=!!!*==*=======*=*===*!*===$#$$$=$$$=*
!!*!;.*;;;:::::::~:;;!:~:::*~~~~,,,,,,,!===$=$=$$$$$$$$#$##$$$==!;;;;;!=!!!**======*==***===!!*==$$$$$$=$=$==
!!!;!.!:;:::::::~::;;!:~~~~!~~~~,,,,,-****====$=$$$$$$$$$$$$$$$=!::::::=!;;**=========***==!!!!*==$$$$=$====$
;!!!;.!::;::::~:::~;;!~~~~~!-~--,,,..;=**==***===$$$$====*===$=$*;:~:::*;!!****====*==***=*!!!!====$===*=====
!*!!;,!::;::::::~~:;;;~~~~~!--~-,,..-****=*!!***=*=====*=****=$$=*:::~: !!;***====******!=!*!!;*=*========*==
;*!!;,*:::~:::~:~~:;;;~~~~~!----..,,***=*!!!!!!***=*****!*!!!!=$==*;~:: ;;!********=******!*!!!==*========**=
;*!;!-*;:;::::::~~;;;:~~-~~;----..,;***=!:;;;!****!!*!!!!;;;;;!=$$**:~~ :;!!*******=**!*******!**=*=$==*=****
;!!!!~=;;:::~:::::;;::~~~~~;----..-!*==*;::;;!!!!!!!!!!;!;;;;;;!$$=*:~~ -;;!****==**==**!!***=;****======****
!!;!!~*;;;::::~:::;;;~:~~~~;----.,!!*==!::::;;;;;;;;;;;;!;;::;:;*$$=*:~ -;;;*******=*=**!***==!****=$==*=**==
!;!!!:*::;:::~~::~;;;~~~~:~!----,:;*==*;:~::;:;;;;;;;;;;;;;;;::;!===*;~ -;;;!*!!*********=====!!***$=====***=
*!;!!:=;::~::~~::~;;;~~~~~~!----,;!*==!:~~~:;;;;;;;;;;;;;;;;;:::;*==*!- -;;;***!******=**==$$=*!!**=======**=
!;!;!;=:::::::~~~~;;;~~~~~~;----~!*===;:~::::;;;;;;;;;;!!!;;;;;::!$==!, ~;;;**!****=**====$$$$*;!***====*****
!;!!!;=:::::::~~~:;;;~~~~~~;,---:!*$$=;::::;:;;;!!;;;;!!;!!!!;;::!==*!. ~;;;*!********====$$$$=;!***=====****
!;;;!;=:;::~::~~~:;:;~~~~~~:,-,-;!*$=*:::::;;;!;;!!!!!!!!!!!!;;;:;*=*!  ~;;:!**!***!****==$====:*!!*=====****
!!;;;;;:;;;;;;:::;:::::~::::~~::;*==*!;:::;;;!;!!!!;!!!!!!!!!;;;::!=!;  :;;:*!*;*!****=**=====*:!!!!=====****
~~~---,......,,,-;;~:-~~~~~::::::*==*!;:::;;;;;;;!!!!!!!!!!;;!;;::!=!;~.:;;:**!!***!*!=*=======:!!**==**=****
;:::~~-,,.....   ;;-.           .!***;::::;:;;;;!!!;;;;!!;;;:;;:::;*!;::;;;:!*!;**********=***=:!!!!==*=***!*
;;;;;!*::~~~~~~~~::~~------~,----!**!;:::::::;:;;;;;;;;;;;;;;;;::::*;;..,;:~!!*;*!***!****==**=:!!!!==***;:::
::;!!!**!!!!!;;;:::~::~~-~~:.---.;!!!:::::::::;;;;;;;;;;;;;;;;:;:::*!;  ~::~!!!!!!**!*****=*=**:;!;!*=***;;;;
:;;;;!!!!;!;;;;;;~~~;!;;;;;;;:;;::;!!::::::;:;;;;;!;;!!!!!*!!**!::~*;:  ~::~;;!;!!*!**!!!!=****;;!!!!*****!!!
::;:;:!;:::::::::~-~~::~~~~~----,-:;;::::;!!**!!!*!!!!!***==$==*!:~*;~  ,::~!!!;!*!*!**!***=*=*!:!;!!******!!
:::::-;::~:::~~~~~,~~~~~~~--,.....~:;~::!*===$==*=*!!!***====$==*:-!;~  -::~!;!;!*!!!!*!!!******~!!;!***!!!!!
~~~~~,~~~~~-~~~~~-.,~~~~-,.       -:;~~;!=========******======**!:~;;~  ,::-!;!;!!!*!!!*!!!*****-!!!!***!!!!!
--,,.            , .. .           .-:~~;!!**=*===*=*!***======*!;:-;;:  .~:-;;!;!!!!!!!!!!!*****~;!;;!*!!!!!;
,,               ,                 ,~~~:;!!!*======!!!*==$==**!!!:~:;-   -~-;;!;!!!!!!!!!!!*****-;;;;!!!!!;;;
,.               .                 .--~:;!!!==$====;;;!==$$#$$=*;;~:;-   .~-:;;;!!!!!!!!;!!**!**,;;;;!!!!:  .
..                                 .--~:;!*=$$$=$**;:;!*==$$$=*!;;~~;-    ~-;;;;!!!!!!!!;!;***!*,;;;;!!;;;
.               .                   --~::;;!*==****;;;;*====*!!!;:~~;~    ~-:;;;!;!!!!!!!!;**!**.:;;;;;!;:
                                    --~::;;!!*==*!;::;;!***=**!;::~-;:    -,~;;;;!!!!!;!;;!***!*.~;;;;;;;;
                                    ---~:::;!!!;!;;;:;;;!!!!*;;;::~-;:    -,~;;;;;!!!!!!;!!*****,,;;;:;;;;,
                                    ---~~::::;;;;::::::;!!!;;;::::~-;-    --~;;;;!;;!;!;;;;**!**,.:;::;;;:-
                                    ,--~~~:::::;;:::::::;!!;;;::::~-~,    ---:;;~;!;;!!!;;;!*!**~ ;:::;;;:-
                                    ---~~:~:::;;;:::::::;!;;;;;;::--~     ~-,:;;-;;!!!;!;;;;!*!!; ::::;;;:-
                                    ,--~~::::;;;!:~::;;;;;!!;;;:;:~-~     --.:;;-;!;!!;;;;;!!*!!; ::::;;;:~.
                                    .--~~::;;;;;::;;;;;;;;!!!;;;;:~-.     -~ ;;;,!!!!!;;!;;;!!!!! ::::;;::~
                                     ---:~:;;!!!;!!!!!!!*!!!!!!;!:~-      -- :;;-!!!!!;!;;;;!!!!! ~::::;;::
                                      ~~~::;;*!!!*=*!=*==***!!!;;::-      -- ;;;~!;!!!;!;;;:!!!!! ~::::;:::
                                     ,~~:;;!!!;!!!***===****!**!!::-      -~ ;;;~!;!!!!!!;:;!!!!! ,::::;;::.
                                     ,~:;;!!!!!;*!***=*=**=***=*;::-      -~ ;;!:!!;;!!!!;;:!!;;! .:::::;::,
              .                      -~::;!**!!!!!!*===*!!******;:;-      -~ ;;;:;;;;!!!!;;;*!!!!. ::::;;::~
              .                      .~::;!!*!;;!;!!!!!!!!!!****!;;-      -~ :;!;!!;!!!!!;;;*!!!!- ::::;;::~
                                      ~:;;!!*===**=*==*=**=$$**!!;:,      -~ ;;;;;;!!!!;;:::!!!!!~ ::::;;:::.
              .                       -::;!!**$===***=*=*==$=**!!;;       -~ ;;;;!!!!!!;*;;;;!;!!: ::::;;;::.
              .                        :;;;!!;!===*!!!!=*$==!***!!~       -~ ;;!;;!;!!!:!::;;!;!!: ~:::;;;::-
              .                        ~:;!!!!!!*==*!=====*****!!;.       -~ :;!;;!!!!!:!;:;;;!!!! ~:::;;;::-
             ,.                        .:;;!!!;;!!*!*****!!****!!;.       -~ ;;!;;;;;!!:!::::;!;!! :::::;;::~
             ..                         .;!*!!!!!!!******!*****!!         -~ :;;;:!!!!!;;;::;;!;;! ~::::;;:::
             ,.                          ;!!!!!!!!*=*==*=******!~         -~.:;!;:!!!!!;*;;::!;!;! ,::::;;;;:
             ,.                          ;!!**!**=========***=!!.         --.:!!;:!!*!!!!;::;!;;;!  ::::;;;;:
             ,                          ~:!**!!!***======***=*!;,         --.:;;!:!!!*!!!;:::!!;;!  ::::!;;;:
             ,                       ,,;::!!**!****=*===******;;-,        --,-!;!:!*!!!*!!:::*!!!!- ::::!;;;:
            .,                     ,--~*:;!!**!!****====*=****!;:---, .,  --,,;;!:!!**!**!:::!;!;!: ::::!!;;:
            .,                   ,--~-~*~;;!****=***===*====**!!:~------,,,--,!!!:!;!!!!!!;::!;;;!; ::::;!;;;
            ,,                ,,,---~~~*:;;!**=*=***=*=$===*=*!;::---------,,,!!*;!!!!!!!!:::;;;;!; ::::;!;;;
            --         ----,,--~----~~~!:;!!***======$==$===**!;:;~---~--~-~--,,,,,..-!!!!:::;;;;!! ::::;!!;;
            -,   ,,,,,,~-~~---~~~-~~~~~;:;!!***======$$$====***!;;:~~--~~~---~----------~!::::!;!;! :::;;;!;;
 ,..        -, ,--~~-~-~-~:~~-~~~~~~~~~:;;!!!**===$$$$=$=====**!!:~~--~~~------------------~::!;;;! ~::::;!;;
 .    .     ---~~-:~~~~~:~~::~~~~~~~~:::!;!!!**====$$=$=====**!!!:::~~~~-~~~--~--~-~~--------:!;!!* ,:;;;!!;;
      ,    .--~~-~:~~~~~:~~~::~~~~~~~~::;!!!**=*=====$======**!!;:::~~~~~~--~~~--~-~~-~~------;;;!! .:;;;!!!!
     ..    -~~~~~~::~~~~:~~:::~~:::~~:::;!!!**=*====$=$=====**!*:;:::~~~~~~~~~~~~~~-~~--~-~----;!!*. ::;;!!!!
     .    --~~-~:~::::::::::::::~:::::::;;!***======$$=======**;;;:::~~~:~~~~~:~~:~~~~~~~-~-~~~-:;*- :;;;*!!!
         .-~-~~~::::::::;::;::;::::::::;;;;***=*==$==$=======*!!;;;:;~~~:~~~~~~~::~~::~~~~~-~-:~-!!- :;;;!!!!
         -~~~~~~:;:;:::::;:;::::::;::;:;;;;!*======$=====$===;;!;;;;;::::~~~~~~~:~~~~~~~~~~~~~~--~*- :;;;;!!!
        -~~~:~~;::::;:::;;;:;::;;:;:::;;::;!!*====$$===$=$=*!!!;;;;;;;:;:~~~:~~:::~~::~~~~~~~~~~~~!: :;;;;!*!
       --~~~~~:;::::;:::;;;:;::;;:;:::;;;;!;!!!*=====$===*!!!!;;;;;:;::::~:~~::::::::~~~~:~~~~~~-~-! :;;;;!*!
      ,-~::~::;;;::;;;;:;;;:;;:;;;;;:::;;;;;;!**!*******!!**!!;;;;;;;;:::::~:~::::~~::::::~~:~~~~~-! :;;;;**!
     .-~~:::::;;;::;;;;:;;;:;;::;;;;:::;;;;;;!!!*********!!!;;;;;;;;;::~::::::::;::~::~~::~~::~~~~~~ ~;;;;***
     --~~:::::;;;;:::;;:;;;;;;;:;;;;:::;;;;!;!;!*********!*;!!;!;;;;;;::::::::~:::~~:;:::~~~~::~~~:: ,;;;;=**
    -~~~::;::;;;;;;;;;;:;;;;;;;;;;;;!;;;;;;;!!!*!*!!**!*!*!!;!;;;;;;!;::::::::::;:~::::~:::~~:~::~~:~,;;;;***
    -~~~:;;;::;;;!;;;;;;;;;;;;;!;;;;;;;;;;;;;!!!!!!!!***!!!!!;;;;;!!;;;:;::::::::;:::;::::::~:~:~~~::-:;!!!**
</pre>

</div>

<div class='span4'>
<pre id='brian' class='about-imgs'>
!!!!!!!!!!!!!!!!!!!!!!!!;;;;;;;;;;;;;;;;;;!!!!!!!!!!!!!!!!!!*!!!!!***************************=******
!!!!!!!!!!!!!!!!!!;!;;;;;;;;;;;;;;;;;;;;;;!!!!!!!!!!!!!!!!!!!!!!*!**!*******************************
!!!!!!!!!!!!!!!!;;;;;;;;;;;;;;;;;;;;;;;;;;;!!!!!!!!!!!!!!!!!!!!!!***!*******************************
!!!!!!!!!!!!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;!;!!!!!!!!!!!!!!!!!!**!!********************************
!!!!!!!!!!;!;;;;;;;;;;;;;;;;;;:::::;;;;;;;;;;!!;!!!!!!!!!!!!!!!!!!!!********************************
!!!!!!!!!!;;;;;;;;;;;;;;::::::::::~::;;;;;;;;;;;!!!!!!!!!!!!!!!!!!*!********************************
!!!!!!!!!!;;;;;;;;;;;;;:::::::::::~~:::::;;;;;;;;;!!!!!!!!!!!!!!!*!!********************************
!!!!!!!!!!;;;;;;;;;;;:::::::~~~~~~~-~::::::;;;;;;;;!!*==******!!!!!!*******************************!
!!!!!!!;;;;;;;;;;;::::::~~~~~~~~~~--~~~::::::;;;!==*==*****;===**!!*******************************;;
!!!!!!!;;;;;;;;::::::~~~~~---------,--~~~~::::!!;=$===**=**=***=*==******************************;;;
!!!!!!;;;;;;;;;:::::~~~----,,,,,,,,.,--~~~~:;;**$$==*!!=**=**=*==$==***************************!;;;;
!!!!!!;;;;;;;;:::::~~~--,,.....     .,,---~;!*=====$***=**=!**=*$;*=$*************************!;;;;;
!!!!!!!;;;;;;:::::~~~--,..           ..,-;!!**=$***=*===!**!*!*!===**$$**********************!;;;;;;
!!!!!!;;;;;;;::::~~~--,.               ,*!!*=*!==*=*=*$**;=*!*!*=======$********************;;;;;;;;
!!!;!;;;;;;;:::::~~~-,,.       ...     ***!;*=!******=!=**=;*!!*====$=**$******************;;;;;;;;;
!!!!!;;;;;;;:::::~~--,..    ~~.   .-~~;*!*!;!!****=***!*=***!!**=****==*!****************!;;;;;;;;;;
!!!;;;;;;;;;:::::~~--,..   ;~        ~!***!!****!!**====**!!!!**!*======*!!**********!!*!;;;;;;;;;;;
!!!!;;;;;;;;;::::~~---,.   :          !**!!!!!!:!*!!==**=*=!!!*=!$!=!**=*!!!******!*!**!;;;:;;::::;:
!!!!;;;;;;;;;;:::~~~--,.   ,         .!*****!!!;*;!=*!==***=;!***$!=!!*==*!!***!*!!!!!!;;;;;;;::::::
!!!!!;;;;;;;;;::::~~--,..            -!*==***=*****!=**$*=!*=******=!=**==*!!***!!!!!!;;::;:::::::::
!!!!;;;;;;;;;;;:::~~~--,..           :!*=*==*=====*;**=*$**!*$!=*****=*!***!**!!!!!!;;;;;:::::::::::
!!!!;;;;;;;;;;;:::::~~--,,.          :!====*=$==$=**!;=*==;!=*!!=!=*!*!;=;!****!!!!;;:::::::::::::::
!!!!!;;;;;;;;;;;:::::~~~--,,.       ~!******=====**!;!****=*=***===*!!=!*!*===*!!!;;;::::::::::::::;
!!!!!;;;;;;;;;;;;::::::~~~---,,.....!!**=*!****=**!!!!!**======$=$!!*!*$*!*===!!!;;;::::::::::::::*$
!!!!!!;;;;;;;;;;;;;:::::~~~~~~-----~**===!;!;!!**!;;;;;!*===*=$$$$***=*==*==$=!!;;::::::::::::::;$$#
!!!!;!!;;;;;;;;;;;;;::::::~~~~~~~~-;=*==*!;;;;;;!!;::;;;!****=$$$$*********==$!;;::::::::::::::=$$$$
!!!!!!!;;;;;;;;;;;;;:::::::::~~~~~~*=$===!;;;:;;;;;:::~;!*!!**$$==***!**!;*=$$;;:::::::::::::;$$$$$$
!!!!!!!!!;;;;;;;;;;;;::::::::::::~~*=$$=*!;;;::;;;:;;:~;;!;!**=$=*!!!!;!!;!==$!;::::::::::::=$$$$$$$
;;;;;;;;;;;;;;;;;;;;;::::::::::::::===$=**;;:::::;:;:~~:;!!!!===*!!!;!;!!;;*$$!;::::::::::;=$$$$$$$$
;;;:::::::::::::~~~::::::::::::::::=$===**;;;:::::::::::;;;!!*!*!!;;!!!!!;;*$$!:::::::::::***=$#$$$$
::::::::::::::~~~~~~~~~------------!$$$==*;;;::::::;;::::;:;!!!!!!;;;!!!;;:!$$;:::::::::::****$$$$#$
::::::::::::~~~~~~~~~--------------;#$$$=*!;;:;;:;;;;;::;;:;!;;;!;;;;;!!;;:!$$;:::::::::::!***$$$$$$
::::::::::~~~~~~~~~~-----------,---:$$$$=*!;;;:::;;;:;:::;:;;;;!;!!!!!!!;;;!$$;::::**:::::!***$$###$
::::::::::~~~~~~~~---------,,,,,,,,~$$$$$*;;;;::::::::::::;:;;;;;;;;!!!!!;;!$=;:::$#=::~::!***$####$
:::::::::~~~~~~~~--------,,,,,,,,,;=$$#$$*;;;;;;:;::::::::::;;;;;;!!!!!!;;!!$=::*###$~:::~;***$#####
:::::::::~~~~~~~~------,,,,,,...-=!*####$*;!;::;;!;;::::::::;;;;;!;!!!!!!;!*$=;######:~~~~:***=##$#$
~~~~::;;!;;;;:~~~~-----,,,,....*$#**=##$$*!!;:;::;;:::::::::;;;;;;;;!!!!!!!*$########~~~~~:****#$$$$
~~~~~~-~~------,---,,,,,.-,,--!$##***##$=*!!;;;:~:::::::::::::;;;;!;;;;;;;!=#$#######~~~~:~****$====
~~~~~~:~~------,--,,,,,..,   ~$#@@=**##$*!!;;::::::::::::::::;;;;;;;;;;;;;!=#$#@@@###:~~~:~!***#====
~~~~~~:~-------~:,,,,,...,  .$#@@#=*=##=!!!;:::::::::~~:::::::;:;:;;::;;;;;=$$#@@@@@@:~~~~~!!**#====
~~~~~~:--------;:,,,,,...,  =##@##***$#=!!!;::::::::~~~~~:~~::;:::;;;;;!;;;=$$#@@@@@@;~~~~~!***#====
~~~~~-~~------,,-,,,,,...,.*##@@##*=*$$*!!!;;;;;:;::::::~:::::::::;;;!!!!;!*$$#@@@@@@*~~~~~;!**$====
~~~~~-~-------,,-,,,,,...,,$@#@###*=*#=!!;***!!**!!!!;;:;:::;::;;;;;!****!!*#$$@@@@@@#~~~~~:!!*=====
~~~~~-~~------,,~,,,,,...,$#@@#$##*$!#*!!;!!*!!!*===***!!;;;;;;!!!***==$====@$=@@@@@@@~~~~~:!*!*====
~~~~~-~-------,-~,,,,,...:#@@#####==*$*!;;:;!==!#@##;****!;;;!!!*=$##$===$=#@#=@@@@@@@~~~~~~!!!*$===
~~~~~~;~--------~,,,,..,.$#####@##***$*!;;::;*!:$##$-!!!!!;;;!!=!;#=@$!$$==@@#$@@@@@@@~~~~~~!**!$***
~~~~~::~------,,-,,,,..,,$#@@$####=!!=*!;;:::;;!:=$~:!!;!!;;;!***;$##**=$==@@@#@@@@@@@:~~~~~!!**$***
~~~~~:*~-----,,,-,,,,..,-####$###@@!!=*!;;::::;!!!;;!!!;;!;:;!=*=*;*!;==**=@@@$@@@@@@@:~~~~~!!!*$***
~~~~-:;;;:~~------,,,,,,;##@#####@@$***!;;:::::;;;;:;:;;;!::;!=*;;!***=***=@@@#@@@@@@@:~~~~~;!!*=***
~~~~-~~~~~----*$####$###=$#######@@@#=!!;;::::::::::::;;;;::;!=*!!!!!**!**=@@@#@@@@@@@*~~~:~:!!*****
~~~~-~~~-:-------,,,,,-*$#####$##@@@@#*!;;:::::::::::;:;;;::;!=**!;!!!**!*$@@@@#@@@@@@$~~~:::!!!*=**
~~~~-~~~~;:---,,,,,,,!$##$@#$$###@@@@@*!;;;:::;:::::::::;;:~;!****!!!*!!**#@@@##@@@@@@#::~:::!!**=**
~~~~~~:~:!$#$$$$$$#$=###@##$#$##@@@@@@=!;;;:::::;;::::;;;;:::;****!!!!!***@@@@@#@@@@@@@~~~~::!!!*$**
~~~;~:##@##########$####@#######@@@@@@=!;;::;;::;:::::;;;;:::;***!**!!!!**@@@@@##@@@@@@~~~~~:!!!!$**
~~~:~:$@########$*$##@@@@#######@@@@@@=*!;;;;;;::::::;;;;:::::!**!!*!!!**$@@@@##@#@@@@@:~-~::!!**$**
:~::~;=$==$#$$*==$@@@@@@@@#$####@@@@@@=*;;;;;:;:::;:;;;;;:~~~:;**!!!*!!**@@@@@@#@##@@@@:~~:~:!!!*=**
::::~!======$$$##@#@#@#@@@#$$####@@@@@$*!!;:;;:::;::;;!;;:~~~:;**!!!!***=@@@@@@##@@#@@@;:::::;!!!**!
####$*====$###@@@@@@@@@@@@#######@@@@@$*!!;;;;::::::;!!;;:~~~~;**!*!***=@@@@@@@@@#@@#@@!::::::!!!**!
@#@@@@#==$##@@@#@@@@@@@@@@#######@@@@@#=*!;;;:::::;:!*!;;;:~~:;**!!*!**=@@@@@@@@@#@@@#@=::::::!!**=!
#####$==$#@@@###@@@@@@@@@@@##@###@@@@@#=*!;;;;;::;!:!!!:;;:~~:;!*!;!***#@@@@@@@@@@@#@@@$::::::!***=!
=$$$$=$#@@@@@@@@@@@@@@@@@@@@#####@@@@@@$**;;;::::;::;!;::::-~~::!!;!**=@@@@@@@@@@@@@#@@#::::::!!!*$!
$$$=$##@@@@@#@@@#@@@@@@@@@@@@@@##@@@@@@$**!!;;;:;:::;;;:~:~--~::*!!!**#@@@@@@@@@@@@@@@@#::::::!*!*$!
@$$##@@@@#@#@@#@@@@@@@@@@@@@#@@@@@@@@@@@=**!;;::;:::;;;;:~~~~~:!**!**=@@@@@@@@@@@@@@@@@@#*::::!*!*=!
$##@@@@@@#@##@@@@@@@@@@@@@@@@@@@##@@@@@@$=*!;;;;;;!!!!*!!:::::;******$@@@@@@@@@@@@@@@@@@@#@@#:!!*!**
#@@@#@#@@@#@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@$**!;;;!;!!!!**!;;;;!*=****=@@@@@@@@@@@@@#@@@@@@@@@$:;!!*!*
@@@##@##@@#@###@@@@@@@@@@@@@@@@@@@@@@@@@@$=*!;!;;;;;!!*!!!!!*=****==$@@@@@@@@@@@@@#@@@@@@@@@#@!!***=
@@@##@@@@@@#@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@$=*;!;;;;;;;;;;!*!*******=@@@@@@@@@@@@@##@@@@@@@@@#;:****$
@@@@##@@@@@#@@@@@@@@@@@@@@@@@@@@#@@@@@@@@@@$=**!;!**=****!;*****=*=#@@@@@@@@@@@@@@@@@@@@@@@@#;:****#
##@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@$==*!;!!!!====**==$==**=@@@@@@@@@@@@@@@@@@@@@@@@@@;;****@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@==*!!!!!!!!*==*=====*=#@@@@@@@@@@@@@@@@@@@@@@@@@@!;***=@
@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@#==*!!!!!***!!!*===*=$@@@@@@@@@@@@@@@@@@@@@@@@@@@#!*#=$*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@$==*!!!;!!!!!!*=**==#@@@@@@@@@@@@@@@@@@@@@@@@@@@@##@###
@@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#$==**!!;;*******==$@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@$==**!*!***==*=*=$@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@##
@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@==**!!!***=***==$@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@
</pre>
</div>


<div class='span4'>

<pre id='nicole' class='about-imgs'>
***!!!!!!!!!!!!!!!!!!!!;!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;::;:::::::::;;:::;:;::::;;;;;;:;;;;;;
*!!!!!!!!!!!!!!!!!!!!!!;;!!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;:;:;:;;;::;:;;::;;;::;;;;;;;:;;;;;;;;;
**!!!!!!!!!!!!!!!!!!;!;;;;!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;:;;:;;;;::::;;;;:::;;:;;;;;;;;;;;;;;
!!!!!!!!!!!!!!!!!!!!;!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;::;;;;;;;;:;;;;;;:;;;;;;;;;;;
*!*!!!!!!!!!!!!!!!!!!!!!;!!!!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
!!!*!!!!!!!!!!!!!!!!;!;!!!;!!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;;;;;;;;;;;;;;;;
!!!!!!!!!!!!!!!!!!!!!!!!;;;;;;;;;;;;;;;;;;;;;;;!!!!!;;;;;;;;;;;;;;;;;;;;;;:;;;;;;;;;;;;;;;;;;;;;;;;;
**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!;!;;;;;;;;;;;!!!*===***!!!!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
**!*!!!!!!!!!!!!!!!!!!!!!;!!!!;;;;;;;;;;;;;!*=$$$#####$$==!!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
*!!*!!!!!!!!!!!!!!!!!!!!;!!!!!;!;;;;;;;;;!!*$#@@@@@@@@####$*!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
*!*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!;;;;;;;;;!=#@#@@###@@@@##$=$=*!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;!
*!*!!!!!!!!!!!!!!!!!!!!!!!!!!;;;!;!!;;;;!*#@@#@@@@@#######$$===*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;!
**!!!!*!!!!!!!!!!!!!!!!!!!!!!!!!!;!;;;;;*$@@@@$=***==$$$$#$$=**==;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;!!
****!!*!!!!!!!!!!!!!!!!!!!!!!!!!!;!!!;!!=##@@=*!!!!!!!!*==$=****=$!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;!;;!
**!!!!*!!!!!!!!!!!!!!!!!!!!!!!!!!;;!!!;*###@=*!;;;::;;;:;**==**==#=!;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;!!
***!**!!!*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!$@#@$*!;;;::::::;::!!=$*=$$@=!;;;;;;;;;;;;;;;;;;;;;;;;!;;!;!!
******!**!!!!!!!!!!!!!!!!!!!!!!!!!;!!!*@#@@=!!;;;::::~~:;~:!!===$$#@=*;;;;;;;;;;;;;;;;;;;;;;;;;!!;!!
******!!**!!!!!!!!!!!!!!!!!!!!!!!!!!!!=@@@$*!!!;;::::~~~~:~:;!=*$##@#*!;;;;;;;;;;;;;;;;;;;;;;;;!!!!!
********!*!!!!!!!!!!!!!!!!!!!!!!!!!!;!##@#*!!!;;::::~~~~~~:~;:!=*$#@@#*;;;;;;;;;;;;;;;;;;;!!;!!!!!!!
********!*!!*!!!!!!!!!!!!!!!!!!!!!!!!*#@@=*!;;;;;::~~~~~~-~::;:**##@@@*!;;;;;;;;;;;;;;;;;!;;!;!!!!!!
*************!!!!!!!!!!!!!!!!!!!!!;!!$#@#*!!!!;;::::~~~~~--~:::!**#@@@#!;;;;;;;;;;;;;;;;;!!!!!!!!!!!
***********!!!*!!!!!!!!!!!!!!!!!!!!!!@@@$*!!!;;;::::~:~~~---~::!!*#@@@@*!;;;;;;;;;!;;;!;;!;;!!!!!!!!
**************!!!!!!!!!!!!!!!!!!!!!!*#@@=**!!!!;;;::::~:::;!;:;;!**@@@@$!;;;;;;;!;;;;;;!!!!!!!!!!!!!
*************!!!!!*!!!!!!!!!!!!!!!!!$@@@=*!!*==*=!;:::::;!!*!!!;!=*#@@@#*;;;;;;;;;;!;;;;!!;!!!!!!!!!
********************!!!!!!!!!!!!!!!!#@@@=***!;;!!!!;::~:;!!!!;;:!**=@@@#=!;;;;;;;;;!!!!!!!!!!!!!!!!!
*******************!!!!!!!!!!!!!!!!!#@@@=*!;;;!!!*!!;~~:!**;;;!;;!=*@@@@=!;;;;;;!!;!!!!;!!!!!!!!!!!!
*********************!!!!!!!!!!!!!!*@@@@**!;*!!!*!!*;--:!!*!;~;;:!=*$@@@$*;!;;!;;;;;!!!!!!!!;!;;;;;;
***********************!!!!!!!!!!!!$@@@@*!!*!*=$*!!*;~-~!!$!#*!!;!=*=@@@#*;;;;;;;:;::::;;;;;;;;;;;;;
******=****************!!!!!!!!!!!!$@@@#*!!*$=#$;=**!~-~;=*$*;;;;!===#@@@=:::::::::::;:::::;;:;;;;;;
=**=***=***************!!!!!!!!!!!!$@@@#!!!*****!***!~--~!!!;;:::!=$*$@@#$:::::::::::::::;:;;;;;;;;;
*====**===***=***=*****!!!!!!!!!!!!#@@@#!!!!****!**!!~---~:;:~~~~!*$*=@@#$:::::::::::::::::;;:;;:;;;
===============*=******!!!;;;;:;;:!$@@@$!;;;;;!!!!!*;~,----:~---~;*#*=#@##;:::::::::::::::::::;;;;;;
==================*====;;;;;::;::;!=##$$!;;;::;!!!!!;~,--~~~~~-,,;*#**$@#$!;::::::::::::::::::::;;;;
=====*===========*=====;;;;;;:::::;=@@=#!;;;::;;;!!!;~---;::~~~,,:=#=**@##*!;::::::::::::::::::::;;;
=====================$$;;;;;::::::;!#@==!!;;:::::!!!:~,--:;;:::--:$#***@#$==!:::::::::::::::::::::;;
====================$$=;;;;;::::::;!$@#=!!;:;::;;*;;:~~---;!;::~~:=#=**@#===*!:::::::::::::::::::::;
===================$$$=;;;;;::::::;;*#@*!!;;:::;;!!!;;;;;~~!!;;::;$#=**@#$==*!;:::::::::::::::::::::
==================$$$$*;;;;:::::::;;!#@!!!!;::;;!;!!!;;:~-~;!*!;;!#$==*$=$=*$*;:~:::::::::::::::::::
==$==========$$=$$$$$$;;:;;:::::::;;;$@#=!!;:;!;!;!;;::~---~;!!;;;#$==*$==*==*!:~~~~::::::::::::::::
*====$$$=$$$$$$$$$##$#;;:;;:::::::;;;$@@@*!;;!!;;!;;::~:::;**;!:;:#=$**$=;#!*=!;~~~~~~~:::::::::::::
===$$$$$$$$$$$$$$####$;;;:::::::::;:;#@@@=!!;;;**!!;:;::--~=*!;:;:$#==*$=;==;=*!~~~~~:~:::::::::::::
=====$$$$$$$$$$$######;:::::::::::::=#@@@@!;;;;!=-,-..   .!;:!;:;*$$====$!*$;!*;:~~~~~~~~~:~::::::::
======$$$$$$$$########:::::::::::::;##@@@@*:!;;;!*!;,,,-::~~~!::~=#$==*$#*!*;;*!~~~~~~~~::::::::::::
=*====$$$$$$$#########::::::::::~::=##@@@@@;;;;;;!!;:~~~~--~~;::;##$$$*$$*!*!;*!~~~~~~~:~:::::::::::
=======$$$$$##########:::::::::~::;###@@@@@*;!;;;;!!:~~::~~~~:::$##$=$=$$**!!:!*~~~~~~~~~~::::::::::
======$=$############$::::::::::::!##@@@@@@@!;;;!;;;:::::~~~:::;####$$=#$$*!;:!*~~~~~~~~~~~:~:::::::
======$$$$#@@@@##@@@#*::::::::::::!##@@@@@@@#;!;!!;;;;:::~~~~::$@#@#$$=#=#=*;;!*:~~~~~~~~~~:::::::::
======$$$##@@@@@@@@@@!:::::::::::~!#@@@@@@@@@*;;;!!!;:::~~-~:;!##@###$$#$$=!:!**:~~~~~~~~~~:::::::::
=====$$$$$#@@@@@@@@@@;::::::::~:::;#@@@@@@@@@@!!;;;;::~~~--~:;=#@@#$#$##$$=!;!*;~~~~~~~~~~::::::::::
$$====$$$$#@@@@@@@@@@:::::::::::::;$@@@@@@@@@@$!!;;::~~~--~;;;=#@#$#$@@#$$$*!*=:~~~~~~~~~:::::::::::
#$$===$$$##@@@@@@@@@@~:::~:~~:::::;$@@@@@@@@@#$=!!;:~~~-~~;;;*#@###@##@@$$$*!!=~~~~~~~~~~~::::::::::
@#$#$=$$$#@@@@@@@@@@@:~:~~:~~~~~~~!$#@@@@@@@@#$*=*!!;:::;!!!;*#@##@$@@#@$$$!!*;~~~~~~~~~~~~~~~:~::::
@@@#$$$$$#@@@@@@@@@@@:~~~~~~~~~~~:==#@@@@@@@@#$*******!***;:;*#@#@#@@@@#$$=!*=~~~~~~~~~~~~~~~:::::::
@@@@#$$=$#@@@@@@@@@@@::~~~:~~~~~~:==#@@@@@#@@#$*!!!!!!!!!;:;!*#@@@#@@@#$$$===~~~~~~~~~~~~~~:::~:::;!
$###$====$@@@@@@@@@@@:~~~~~~~~~~~*==#@@@@@#@#@$*!!!!;;;;:::;!*##@@#@@@#=$#$$:~~~:~~~~~~~~~~~~::!$!!;
$$$#$==$=$#@@@@@@@@@#~~~~~~~~~~~:===$#@@@@#@#@$*;;;;;;::::::!=@@@@@@@@#$=$==!!;:~~~~~~~~~~:,........
$$=#$==$=$##@@@@@@@@=:~~~~~~~~~:!===##@@@@#@#@#*!!!;;;:::::;!$$@@@@@@@$#==$=$!;!*!~~~~~~~:!-,,,--::;
=$=@$=$$$$##@@@@@@@@!:~~~~~~~~::$==$$##@@@$#@@@$!!;;;;:::::;*##@@@@#@@##$=====*::~~~~~~~:!*$;~-::~~~
$$$#==@@$$###@@@@@@@;~~~~~~~:~;!$==$##@@@#$#@#@$=!;;;;::::;!=#$@@@@$#@@#$#$$#===$!:~~~~:!=#=;..,,,,,
$$$$$$@@$$#@@@@@@@@@::~~~~~~::!$$$$####@@#$$####=*!;;::::;!$@@##@@#=#@####$$@#$=#$!~~~:!=$=*!..,,,,,
==$===$=$$#@@#@@@@@@:~~:~~~~::!$#$##@##@@$$$##@$$=****$###@@@@@#@@#=##$##$##@@@$##$=~:!*$*!**...,,,,
$$#===$=$#@#@#@@@@@@:~~:~~~~:;!*###@@#@##$$##$@@@@@@######@#@@@@@@#$#$##$*$#@@@$$$#$=!=$!*!!*,..,,.,
$$#===$=$###@#@@@@@@~~~~~~~::!=@###@@@@##$$#$#@@@@@@#@#@@@@@@@@@@@#$#$#$$$$#@@@@#$##$==!!!!!!:...,,,
=$#====$$#@@@@@#@@@@::~:~~:;@@@@@@@@@@@##$$#$#@@@@@@@###@#@@@@@@@@##$@@$$$=#@@@@@###$$=!!!!!!!...,,,
$$#$===$$#@@@@@@@@@@~:~~~!@@@@@@@@@@@@@##$#@##@@@@#@#@@####@@@@@@@#@#@@$===#@@@@@@##$$$!!!!!!!...,,,
$$$====$$##@@@@@@@@$:~::#@@@@@@@@##@@#####@@@@#@@@@#######@@@@@@@@##@@@$=*#@@#@#@###$$$$!!!!!*,,.,,,
$$$====$$###@@@@@@@$:~~@@@@@@@@@@@####@@$##@@#@@@@@#######@@@@@@@###@@@$$=$@##@#@@@#$#$$$!!!!*:..,,,
$#$==$=$$###@@@@@@@!::#@@@@@@@@@@@###$#####@@@@@#@########@@@@#@##@@@@@==$@@##@##@@@$#$##=!!!*!,,,-,
=@$==$$$$##@@@@@@@@;:#@@@@@@@@@@@@##$#######@@@@@@@#####==@@#$$###@#@@#$#$#######@@@$#####!!!!*,,,--
$#===$$$###@#@@@@@@:$@@@@@@@@@@@@@##$##$####@@@@@#########@@$=###@#@@@$$@@@###@@@#@@$#$##@$!!!*,,.,-
$#$====$###@@@@@@@@*@@@@#@@@@@@@@@@##$###$####@@@#########@#####$===*$$#######@@#$@@#####@@****~,,,-
$$$===$$###@#@@@@##@@@@@@@@@@@@@@@@@#####@$$#@#########@@@@@@#@@@@@@@########@@@#$#######@@$***!,,,-
#$====$$###@@@@@@@@@@@@@@@@@@@@@@@@@@###$$###$#@##@######@@@@@@@@@@@@#######@@@@##$##@###@@#=***,,,-
#===$=$$###@@@@@@@@@@@@@@@@@@@@@@@@@@@@######@###@##@#$!$@@@@@@@@@@@########@@@###$##@###@@@#***;;:;
#$==$=$$#@#@@@@@@@@@@@@@@@@@@@@@@#@@@@@@##$####@#####=$*$@@#@#@@#@#########@@@#@@@###@@##@@@@$=$$=$
</pre>
</div>

</div>

<div id='resources-container' style='margin-top:20px;'>
	<div id='libraries' class='pull-left span5 offset2'>
		<p>Some libraries and frameworks we are using:</p>
		<ul>
			<li>
				<a href='http://evanw.github.com/glfx.js/docs/'>glfx.js</a>
			</li>
			<li>
				<a href='http://enotionz.github.com/jscii/'>Image to ascii</a>
			</li>
			<li>
				<a href='http://expressjs.com'>express</a>
			</li>
			<li>
				<a href='http://bgrins.github.com/filereader.js/'>filereader.js</a>
			</li>
			<li>
				<a href='http://jquery.com/'>jquery</a>
			</li>
			<li>
				<a href='http://underscorejs.org/'>underscore.js</a>
			</li>
			<li>
				<a href='http://backbonejs.org/'>backbone.js</a>
			</li>
			<li>
				<a href='http://twitter.github.com/bootstrap/base-css.html'>twitter bootstrap</a>
			</li>
		</ul>
	</div>
	<div id='icons' class='pull-left'>
		<p>Icons:</p>
		<ul>
			<li>
				<a href='http://medialoot.com/item/round-social-media-icons/'>Social media icons</a>
			</li>
		</ul>
	</div>
</div>

