<h4>Asciigram is a product of the Node Knockout competition. <a href='http://nodeknockout.com/teams/comorichweb'>team page</a></h4>
<pre>
$*:::::;;=$!!!!;!**======*****;-------::::::::::!$$!!;!*!:,=,;;,,-~-.     -~~!*;;;;;~!:::;;!*=***!!*
$*;:::;:*#*!!!!!***======*=***:~----~~::::::::::!$$!!!!*!;-$,!!~-~~-,,. .-~~::!=;;;;:!:~~;;;=*=***!*
$!:::::!#**!!!!!!!*========***~-----~~::::::::::!#$!!!!*!;-=-!;~-~~---,,--~:::;!=;;;;;:~~::;===*****
#;:::;;$=*=!;!!!!**======*****~------~::::::::::!##!!!!!!;-=-!;:-~~~~~-~~~~::;;!!=;;;;;~-~:;!**=!**!
$::::;=$!!!!!!!!!**=======****-~--~~~~::::::::::!#$!;;!!!;-=-;!:-~~~~~~~~:;:;;;;!!*;;!!:~~:;;!*!!**!
=:::;=#!;;;*!!!!!*===*=*******------~~::::::::::!$$!!!;!;;~=-!!;~~~~~:::;:::;;;;;!*!;!!;:-:::!!****!
*:::*$!!!;!!*!!!***==*==*=**!!-----~~~::::;:::::!$$!;;;!;;~$-!!;~~~::::::::::;:;;;!*!!!!;~:::!!***!*
!::!$*;;!!;!*!!!**==****=****!------~~;;;;::::::*##!;;;!;;~$~;!;~~::::::::::;;;;;;!*=!!!!;:~:*;*!*!!
;:;$*;;;!!;!*=!*!*==****=****;-----~~:;;;;::::::*#$;;;;;;;~=~;;!~~::::~:;;:;;;;;;;!!*$!!**;~:!;*!**;
:;$=!;;!!!;!**!*!*=*=********:------~:;;;;;;;:::*$$;;;;;;;~=~;!!:~::::~::;:;;;;;;;!!!=$**=!:~:;!;-,!
;$=!;;!;;!;!!*=*!*==*=******!~,-,---~:!!;;;;;:;;*$$;;;;;;:~=~;!;:~::::~;;;;;;;;;;;;;!*=#**:;~~~-:!$*
$=;;;;;;;!;!!****===********!--------;!!!!;;;;:;*#$;:;:;;:~$~:!!~~~:::::;;;;;::~:;;;!!=$*;::!~*$$*==
$;;;;;!;;;!!!!*=**=******!**!------~~!=*=****!!!=#=::::;;:~=~:!!~~~~;:::;;;;;:  -;;;:*=**:::;:=;*==*
!;;;;;;;!!!!!!*****=*****!*!!-----~~~=$$$$$$$$$$=#=:::::;:~=~:;!~~~~~;;:=*!!;~  ~;!!::;!:::;::*~!**=
;;;;;;!;;!!!!!!*$*==*!**!**!!-----~~~!*!**!!!!!!*#=:::::::~=::!!:~*!~~;:***!!!;;;**!:~~::~:::::;!=**
;;;;!;;;;;;!!!*$=******!**!!!-----~~-**!**!!;;!;*#*~~~~~;:~=:~!;:~==*~~~!;!!!!;;;;-~;::-;-~::::!!*==
;;;;;;;;;!!!!!=#*********!!!;----~~~~!!*!!!!;;;;*#*~~~~~:~~=::!;~:=$==~~~;;!;!;--;!;;~~,!--~:::*!***
;;;;;!;;;!;!!*#==**********!;----~~~~!!!!!!;;;;;*#!~~~~~:~~=:~;!::=$$$$;::!!:-:!*!.  :~~!-~-:::**!**
;;;!;;;;;!;!!#*=**=*=*!!!!!!:----~~::!*!;!;;;;;;*$*--~--:~~=;~;;::$$$$$$=::~;*!!!!::;:::;-~~:::*;!!*
;;;;;;;;;!!!==$=***!**!!!!!!~-----~~~!!!!!;;;:::*#!----~:~~=;~;;::$$$$$$$$:;;!!!!;!!!:::;~--~:;;;!**
!;;;;;;;!!**$===*****!!!!!!!-----~~~:!!!!!*=**!;*$;---,-:-~=!~;;::$$$$$$=#$;;:!;!!!*!;::;:~~~:::;;!!
=;;!;;;;;;!$=$==!*!!!*!*!!!;-----~~~~!!*===*===****;;-,-~-~*!~;;::!$$$#$=$$$*;:!;!!*!;:;;!~~~:::;!**
!*;;;;;;;!$===***!*!!!!;!!;;-----~~~~!=$=$$**!***=*!!;--:-~*!~;;::!*=###=$$$$*;:!!!=*!;;;$~~~:::!;!*
;!!;;!;;!=*===**!*!!!!!!!!!;-----~:;*==$==$=!!*=!**!::!~~,~!*:;;;;!**=$#$!$#$$=;:!!=*!;;;$~~~;:;*;**
:;;!;;;!*#=====!!!!!!*!!!;!;----~~:*$=!=**$$*!;***=!;:;!;,~!=~:;::;=***$$*!$#$$$;;;=*!;:;=~~~:::!;*!
-~;;;!;!======*!!!!!!!!;!;;:-~-~~:**;*!;;!**!!!;!!!*!:;;;~~!=~:;::::;***==$=$$#$$*;;**;;;*~~~:;:;;;*
 .~:;!;=*==*==**!!!!!!;!;;;:~--~~=;;;;:~~:;!!!!;;!;!!!!;!:~;$~::;:~;::**=$=$##$#$$=;;=;;;*;~~::;:;;*
   ~:;*!*=*=***!!;!!!;;;;;;:~~~~!:;:!:~,,--::;::;;;!!****!::=~::;:~;;;:;=$$$###$$$$=;;;;;!*:~:;;;!;*
   .~;!!*=*=***!!;!;;;;;;;:~~~~;;!;;;~-,.,,-:::~;!!!!*==*=;::~~:;:~;:~:==$$#$####$$$=!;;!!=:::!;;=;!
    .~;;!*****!!!!!;;;;:;;:~~~:*!;;!:,......~::::!!!!**==**:;~~,::~;:::~===$$####$$#$**;;!$:::;;;=;*
     -:;!*****!!;;;;;;;;;;:~~:!*!;!!,,.. ...--~~::;!;!!*=**!::~-:::;~~~~:;$$=$$#####$#==;;=::~;;;~::
      ~;!!****;;;;;;;;:::::~~=**!!*:....   .---~::::::;!!**!;:~-:::!~~~:~::!$$$$$#$#$$#$=!!::::;;:::
      .;;**=**;;;;;;:::::::~:***!=!-.... ..,---~~~:~~~:;;**!!;~-~::!~~~~~:::;=$=$$####$#$$=!:::;;~::
      -~;!!***;;;;;;::::::~~:*=*==!-,,....,,,,-~~~~~--~::!=***-,~:~!~~~~~::::;==$$$$###$$##$!;:;;:!:
      ,,:;!*!!;;;;::;::::::~~===$*:-.,,.,.,,---~~~~~~-~~~:==**--~::!~~~~~::::;==$=$$$####$=$$;!!;;!:
      ..-:;!!;;;;:;::::::~~~~**#$!~-,--,,,-----~~~~~~~~~~:==**-,-::!~~~~~~~~::=*=$$=$$###=$$$$!;!;!:
      ..-~:;!;;;:::::::~~~~~~*$**;~-----~~~~~~-~~~~:::::::*$*=-,-::;~~~~~~::::=*===*=$$####$=#$*!!;;
       .,-~:;;;;:::::~~~~~-~~!;**:~----~~~~~~~~~::::::::::!===-,-~:!~~~~~~~:::**===**=$#$=$###$=!;;;
     , .,,~~:;:;::::::~~~~-:::==*:-~----~~~~~~~:::::::::::;===-.,~:;;:::;;;!!!!!**=*!**$===*##$=!!;!
     , .,,-~~;;::::~:~~~~-,:::===:~---,,,,,--~~~~:~::::::;:==!-.,:~:~~~~-~~::::!!**!!!!!**=**#$=!!!*
     . ..,,-~;:::::::~~~-~-:~:!$=:~~--,,,,,,--~~~~~-~~::::;==:-..~~-,....,,,---:;!!!!!!!!*===$=*!!!*
     ..,.,--~;::::::~~~~--~:::!$=:~---,-----,--~~---~~~::;:=*~- .~-            ~:!~:;;;;!*=$$$=*!!!!
    . ....--:;::::::~~~~-~:::~!$=:~-----~~~~~~~:~~~~:::::::==:~. -.            ,~:, -:::;!!=$$=!!!!;
    -...,,,-;:::::~~:~~---::~;!$!::;;::~~~::::::::::~:::::;=;:~. ,.             ~:, ,-~::!;=#$=;!!!;
    - ....,-:::::~:~~~~~--:::;*=;::;!*!!!!!;;;:;:;;;;:!!!!:=:~~  ,.             ~:- .--~:;;=$$=!!;!!
    .....,,-;::::~~~~~~~--:;:~*$;:::;!!*==*!!;;!!**=****=!;=::~ ..,             -:~  ,--~::=$$=!!;!!
    ....,,,,:::::::~~~~-~-;:::$=:::;**=##$=*!;;!*=$$$==*;;;=::~   ,             -:~  ,--~::$$$=!;!!!
   ......,,-:::::::~~~~---::::$=:~::;;;$#$=**::;=$$$##==!;;=:;:  .-             -::  .,-~~:*=$=*;!!!
   -,,...,,::::::~~~~~~~--:;;:**:~~:::;!***!;--:====$=**!;;=*;~ ..~             ~::  .,--~~;=$==!!!!
,,-~.. .,,-:::::~:~~~~~--~;::::*:~~~~:;!!!!:~,.,!==***!;;:;=$!:  .~             ~;;  .,,-~~;*$==;;!!
,~--..,.,,,::::::~~~~~~~-::;;;:!:~~~~~::;;~~-..,;****;;:::;*$*: ..~.            :;;~ .,---~:=$==!;!!
   ,....,,,:::::~:~~~~~-~;;:;;~::~~~~:~::~~~,  .:!!!!!;:::!:=*: .,:-            ;;!;...,--:~==$=!;!!
  .,.,.,,,-;:::::~:~~~~~~;;;;;;::~~~~~:~~~~-.  .~;;;;;::::;:=*:...:-            ;!!;,.., -~~=$==;;;!
,,-,...,,,-::::::::~~~~~~;;;;;;;:~~~~~~~~~~,   ..:;;;:::::~;==:...:~            ;!!!. .,.,~~==$=*;;;
,,:..,..,.~::::::~~~~~~~~:;;;;;::~~~~~~~:~~....,,~;:::::;: :*=:..,::            ;!!: ..,.,-~==$=*;;;
  -.,,.,,-~:::::~:::~~~~-;;;;;;;:~~~~~~~:~,,,.,-~~;;;::::; :*=:..,::            ;!;- ....,-~!====;;;
  ,.,,,,-,;:::::::::::~~~;;;;;;;::~~~~~~::~~~~~:;;;!;::::; :!$:..,::            ;!;. .....--;=$==;:;
 ,,...,,,,:::::::::~~~~~~;;;;;;;::~~~~~:~::!!;!!=*!!;::;;; :!$:..,:;.   . .   . :!!:: ....-~:=$$=;:;
,-,..,,,,,;::::::~~:~:~~:;!;;;;;:::::~~~-~::;!*=*!;;;;;:;- ;!$;...:;.     .   ..~!**;...,,-~:=$$=;:!
~:.,,,,,,-::::::::::::~:;;;;!;:;;;:::~~~-~;;;*;**!::;;;;;  :!$;..,:;.   .,--.: .-***!....,-~~==$=!:!
~~,,,,,,,-;;::::::::~:::;!;!;!;:;:;:::~~~~;;;*!!**;;;;;;;  ;!$;,.,~;,   .-::,::,-***!. .,,-~~=$==*;!
,,,.,,.,,::;:;:::::::~~~;!;!!;;;;;;;:::;;::::;;;!*!!!;;;;--;::;-.,~;-    ~;:.:;~,****...,,-~~=$$==;;
,,,,,,,--;;;;;:::::::~::!!!!;;:;;;;;;;;*!;!!!!!*!*!*!!!!;~~:~::~--~;-    -~: :;:.****,~.,~:-~*$$==;:
:,,,,-,,-;;;;;;::::::~::!!;!::;:;;!;;;!!;!!==*==*$$=*!!!;:~;~:::~-. -,,..;!!:~;:-=***~~,,;:~~;=$$=;:
:,,,.---~;;;;;::::::::::;!!!:;;;;;!;;!;;;;;;**=*=****!!:::::~:::~-..        ~ :; =***.:,,:;~~:=$$=;:
~,--,--,~;;;;;;:::::::::!!!!;;;;;;!!;!!;;;;!**!******!*~:::;~~:~~-,.         ..~,=*;!!:.,!!-~:=$$=!:
,,-,--,-~;;;;;;;::::::::!!!;:;;::;**!!!!!!*!****=**=**;:;::;~:;:--,           ...!=;~=:,,--~:~=#$=*;
,-,--,--:;;;;;;;;:::::::!!!!;;;;;;!**!!!!!!*====*===*!!:::;;:~::~-,..         .. .,:!*!,,--~::$$$$=;
----,~--;;;;;;;;;::::::;!!!!;;:;;;!!=!!!;;!!!!***===*!;;;:;:::;:~--..   .     .   .-~!*~,,-~::$$$$$;
----~--~;;;;;;;;;::::::!!!.,;:~~;;!*=$*!!!!*!****===!!;:::;:~:::~-,,,.   .   .  .., ,*=*!!;!!!*=$$$!
~---~---;;;;;;;;:;:::::!.,,,;~-~;!!!=$=!*!!****==*=*!;:;;;;:::;:~-,,, .... . ,   .,..-=*!!!=**==$#$*
---~~--~;;;;;;;:;::;:,,,.,--~---;!!*=$#*=***=*=====*!;;;:!;:~;;:~-,,,. ....  ,  .,,...;*,--~~:;$##$*
---~~--:;;;;;;;;:.,,.,.,.,~~,,--;!*=$$@#$=*==*$====*;;;;;!;::;;~~-,,,. ,... ..  .,.....:---~~::$#$==
,,-----;!;;;;;;,.,,,.,-,,--,,---;**==$@#$$=$======*;;;::;!;:::;~--,,,..,.,..,. ..- ., .---,~~::$#===
---,--,;!;;;;;,,,,.,..,,-~,,,--~;====$@#$$$$=$==$*;!;;;;;!:~:::~-,.,,....,..-. ..-..,...---~~::=$$=</pre>


Asciigram is a product of the Node Knockout competition.  Visit our <a href='http://nodeknockout.com/teams/comorichweb'>team page</a> for more information.

