<h4>Asciigram is a product of the Node Knockout competition. <a href='http://nodeknockout.com/teams/comorichweb'>team page</a></h4>
<pre>
$*:::::;;=$!!!!;!**======*****;-------::::::::::!$$!!;!*!:,=,;;,,-~-.     -~~!*;;;;;~!:::;;!*=***!!*
$*;:::;:*#*!!!!!***======*=***:~----~~::::::::::!$$!!!!*!;-$,!!~-~~-,,. .-~~::!=;;;;:!:~~;;;=*=***!*
$!:::::!#**!!!!!!!*========***~-----~~::::::::::!#$!!!!*!;-=-!;~-~~---,,--~:::;!=;;;;;:~~::;===*****
#;:::;;$=*=!;!!!!**======*****~------~::::::::::!##!!!!!!;-=-!;:-~~~~~-~~~~::;;!!=;;;;;~-~:;!**=!**!
$::::;=$!!!!!!!!!**=======****-~--~~~~::::::::::!#$!;;!!!;-=-;!:-~~~~~~~~:;:;;;;!!*;;!!:~~:;;!*!!**!
=:::;=#!;;;*!!!!!*===*=*******------~~::::::::::!$$!!!;!;;~=-!!;~~~~~:::;:::;;;;;!*!;!!;:-:::!!****!
*:::*$!!!;!!*!!!***==*==*=**!!-----~~~::::;:::::!$$!;;;!;;~$-!!;~~~::::::::::;:;;;!*!!!!;~:::!!***!*
!::!$*;;!!;!*!!!**==****=****!------~~;;;;::::::*##!;;;!;;~$~;!;~~::::::::::;;;;;;!*=!!!!;:~:*;*!*!!
;:;$*;;;!!;!*=!*!*==****=****;-----~~:;;;;::::::*#$;;;;;;;~=~;;!~~::::~:;;:;;;;;;;!!*$!!**;~:!;*!**;
:;$=!;;!!!;!**!*!*=*=********:------~:;;;;;;;:::*$$;;;;;;;~=~;!!:~::::~::;:;;;;;;;!!!=$**=!:~:;!;-,!
;$=!;;!;;!;!!*=*!*==*=******!~,-,---~:!!;;;;;:;;*$$;;;;;;:~=~;!;:~::::~;;;;;;;;;;;;;!*=#**:;~~~-:!$*
$=;;;;;;;!;!!****===********!--------;!!!!;;;;:;*#$;:;:;;:~$~:!!~~~:::::;;;;;::~:;;;!!=$*;::!~*$$*==
$;;;;;!;;;!!!!*=**=******!**!------~~!=*=****!!!=#=::::;;:~=~:!!~~~~;:::;;;;;:  -;;;:*=**:::;:=;*==*
!;;;;;;;!!!!!!*****=*****!*!!-----~~~=$$$$$$$$$$=#=:::::;:~=~:;!~~~~~;;:=*!!;~  ~;!!::;!:::;::*~!**=
;;;;;;!;;!!!!!!*$*==*!**!**!!-----~~~!*!**!!!!!!*#=:::::::~=::!!:~*!~~;:***!!!;;;**!:~~::~:::::;!=**
;;;;!;;;;;;!!!*$=******!**!!!-----~~-**!**!!;;!;*#*~~~~~;:~=:~!;:~==*~~~!;!!!!;;;;-~;::-;-~::::!!*==
;;;;;;;;;!!!!!=#*********!!!;----~~~~!!*!!!!;;;;*#*~~~~~:~~=::!;~:=$==~~~;;!;!;--;!;;~~,!--~:::*!***
;;;;;!;;;!;!!*#==**********!;----~~~~!!!!!!;;;;;*#!~~~~~:~~=:~;!::=$$$$;::!!:-:!*!.  :~~!-~-:::**!**
;;;!;;;;;!;!!#*=**=*=*!!!!!!:----~~::!*!;!;;;;;;*$*--~--:~~=;~;;::$$$$$$=::~;*!!!!::;:::;-~~:::*;!!*
;;;;;;;;;!!!==$=***!**!!!!!!~-----~~~!!!!!;;;:::*#!----~:~~=;~;;::$$$$$$$$:;;!!!!;!!!:::;~--~:;;;!**
!;;;;;;;!!**$===*****!!!!!!!-----~~~:!!!!!*=**!;*$;---,-:-~=!~;;::$$$$$$=#$;;:!;!!!*!;::;:~~~:::;;!!
=;;!;;;;;;!$=$==!*!!!*!*!!!;-----~~~~!!*===*===****;;-,-~-~*!~;;::!$$$#$=$$$*;:!;!!*!;:;;!~~~:::;!**
!*;;;;;;;!$===***!*!!!!;!!;;-----~~~~!=$=$$**!***=*!!;--:-~*!~;;::!*=###=$$$$*;:!!!=*!;;;$~~~:::!;!*
;!!;;!;;!=*===**!*!!!!!!!!!;-----~:;*==$==$=!!*=!**!::!~~,~!*:;;;;!**=$#$!$#$$=;:!!=*!;;;$~~~;:;*;**
:;;!;;;!*#=====!!!!!!*!!!;!;----~~:*$=!=**$$*!;***=!;:;!;,~!=~:;::;=***$$*!$#$$$;;;=*!;:;=~~~:::!;*!
-~;;;!;!======*!!!!!!!!;!;;:-~-~~:**;*!;;!**!!!;!!!*!:;;;~~!=~:;::::;***==$=$$#$$*;;**;;;*~~~:;:;;;*
 .~:;!;=*==*==**!!!!!!;!;;;:~--~~=;;;;:~~:;!!!!;;!;!!!!;!:~;$~::;:~;::**=$=$##$#$$=;;=;;;*;~~::;:;;*
   ~:;*!*=*=***!!;!!!;;;;;;:~~~~!:;:!:~,,--::;::;;;!!****!::=~::;:~;;;:;=$$$###$$$$=;;;;;!*:~:;;;!;*
   .~;!!*=*=***!!;!;;;;;;;:~~~~;;!;;;~-,.,,-:::~;!!!!*==*=;::~~:;:~;:~:==$$#$####$$$=!;;!!=:::!;;=;!
    .~;;!*****!!!!!;;;;:;;:~~~:*!;;!:,......~::::!!!!**==**:;~~,::~;:::~===$$####$$#$**;;!$:::;;;=;*
     -:;!*****!!;;;;;;;;;;:~~:!*!;!!,,.. ...--~~::;!;!!*=**!::~-:::;~~~~:;$$=$$#####$#==;;=::~;;;~::
      ~;!!****;;;;;;;;:::::~~=**!!*:....   .---~::::::;!!**!;:~-:::!~~~:~::!$$$$$#$#$$#$=!!::::;;:::
      .;;**=**;;;;;;:::::::~:***!=!-.... ..,---~~~:~~~:;;**!!;~-~::!~~~~~:::;=$=$$####$#$$=!:::;;~::
      -~;!!***;;;;;;::::::~~:*=*==!-,,....,,,,-~~~~~--~::!=***-,~:~!~~~~~::::;==$$$$###$$##$!;:;;:!:
      ,,:;!*!!;;;;::;::::::~~===$*:-.,,.,.,,---~~~~~~-~~~:==**--~::!~~~~~::::;==$=$$$####$=$$;!!;;!:
      ..-:;!!;;;;:;::::::~~~~**#$!~-,--,,,-----~~~~~~~~~~:==**-,-::!~~~~~~~~::=*=$$=$$###=$$$$!;!;!:
      ..-~:;!;;;:::::::~~~~~~*$**;~-----~~~~~~-~~~~:::::::*$*=-,-::;~~~~~~::::=*===*=$$####$=#$*!!;;
       .,-~:;;;;:::::~~~~~-~~!;**:~----~~~~~~~~~::::::::::!===-,-~:!~~~~~~~:::**===**=$#$=$###$=!;;;
     , .,,~~:;:;::::::~~~~-:::==*:-~----~~~~~~~:::::::::::;===-.,~:;;:::;;;!!!!!**=*!**$===*##$=!!;!
     , .,,-~~;;::::~:~~~~-,:::===:~---,,,,,--~~~~:~::::::;:==!-.,:~:~~~~-~~::::!!**!!!!!**=**#$=!!!*
     . ..,,-~;:::::::~~~-~-:~:!$=:~~--,,,,,,--~~~~~-~~::::;==:-..~~-,....,,,---:;!!!!!!!!*===$=*!!!*
     ..,.,--~;::::::~~~~--~:::!$=:~---,-----,--~~---~~~::;:=*~- .~-            ~:!~:;;;;!*=$$$=*!!!!
    . ....--:;::::::~~~~-~:::~!$=:~-----~~~~~~~:~~~~:::::::==:~. -.            ,~:, -:::;!!=$$=!!!!;
    -...,,,-;:::::~~:~~---::~;!$!::;;::~~~::::::::::~:::::;=;:~. ,.             ~:, ,-~::!;=#$=;!!!;
    - ....,-:::::~:~~~~~--:::;*=;::;!*!!!!!;;;:;:;;;;:!!!!:=:~~  ,.             ~:- .--~:;;=$$=!!;!!
    .....,,-;::::~~~~~~~--:;:~*$;:::;!!*==*!!;;!!**=****=!;=::~ ..,             -:~  ,--~::=$$=!!;!!
    ....,,,,:::::::~~~~-~-;:::$=:::;**=##$=*!;;!*=$$$==*;;;=::~   ,             -:~  ,--~::$$$=!;!!!
   ......,,-:::::::~~~~---::::$=:~::;;;$#$=**::;=$$$##==!;;=:;:  .-             -::  .,-~~:*=$=*;!!!
   -,,...,,::::::~~~~~~~--:;;:**:~~:::;!***!;--:====$=**!;;=*;~ ..~             ~::  .,--~~;=$==!!!!
,,-~.. .,,-:::::~:~~~~~--~;::::*:~~~~:;!!!!:~,.,!==***!;;:;=$!:  .~             ~;;  .,,-~~;*$==;;!!
,~--..,.,,,::::::~~~~~~~-::;;;:!:~~~~~::;;~~-..,;****;;:::;*$*: ..~.            :;;~ .,---~:=$==!;!!
   ,....,,,:::::~:~~~~~-~;;:;;~::~~~~:~::~~~,  .:!!!!!;:::!:=*: .,:-            ;;!;...,--:~==$=!;!!
  .,.,.,,,-;:::::~:~~~~~~;;;;;;::~~~~~:~~~~-.  .~;;;;;::::;:=*:...:-            ;!!;,.., -~~=$==;;;!
,,-,...,,,-::::::::~~~~~~;;;;;;;:~~~~~~~~~~,   ..:;;;:::::~;==:...:~            ;!!!. .,.,~~==$=*;;;
,,:..,..,.~::::::~~~~~~~~:;;;;;::~~~~~~~:~~....,,~;:::::;: :*=:..,::            ;!!: ..,.,-~==$=*;;;
  -.,,.,,-~:::::~:::~~~~-;;;;;;;:~~~~~~~:~,,,.,-~~;;;::::; :*=:..,::            ;!;- ....,-~!====;;;
  ,.,,,,-,;:::::::::::~~~;;;;;;;::~~~~~~::~~~~~:;;;!;::::; :!$:..,::            ;!;. .....--;=$==;:;
 ,,...,,,,:::::::::~~~~~~;;;;;;;::~~~~~:~::!!;!!=*!!;::;;; :!$:..,:;.   . .   . :!!:: ....-~:=$$=;:;
,-,..,,,,,;::::::~~:~:~~:;!;;;;;:::::~~~-~::;!*=*!;;;;;:;- ;!$;...:;.     .   ..~!**;...,,-~:=$$=;:!
~:.,,,,,,-::::::::::::~:;;;;!;:;;;:::~~~-~;;;*;**!::;;;;;  :!$;..,:;.   .,--.: .-***!....,-~~==$=!:!
~~,,,,,,,-;;::::::::~:::;!;!;!;:;:;:::~~~~;;;*!!**;;;;;;;  ;!$;,.,~;,   .-::,::,-***!. .,,-~~=$==*;!
,,,.,,.,,::;:;:::::::~~~;!;!!;;;;;;;:::;;::::;;;!*!!!;;;;--;::;-.,~;-    ~;:.:;~,****...,,-~~=$$==;;
,,,,,,,--;;;;;:::::::~::!!!!;;:;;;;;;;;*!;!!!!!*!*!*!!!!;~~:~::~--~;-    -~: :;:.****,~.,~:-~*$$==;:
:,,,,-,,-;;;;;;::::::~::!!;!::;:;;!;;;!!;!!==*==*$$=*!!!;:~;~:::~-. -,,..;!!:~;:-=***~~,,;:~~;=$$=;:
:,,,.---~;;;;;::::::::::;!!!:;;;;;!;;!;;;;;;**=*=****!!:::::~:::~-..        ~ :; =***.:,,:;~~:=$$=;:
~,--,--,~;;;;;;:::::::::!!!!;;;;;;!!;!!;;;;!**!******!*~:::;~~:~~-,.         ..~,=*;!!:.,!!-~:=$$=!:
,,-,--,-~;;;;;;;::::::::!!!;:;;::;**!!!!!!*!****=**=**;:;::;~:;:--,           ...!=;~=:,,--~:~=#$=*;
,-,--,--:;;;;;;;;:::::::!!!!;;;;;;!**!!!!!!*====*===*!!:::;;:~::~-,..         .. .,:!*!,,--~::$$$$=;
----,~--;;;;;;;;;::::::;!!!!;;:;;;!!=!!!;;!!!!***===*!;;;:;:::;:~--..   .     .   .-~!*~,,-~::$$$$$;
----~--~;;;;;;;;;::::::!!!.,;:~~;;!*=$*!!!!*!****===!!;:::;:~:::~-,,,.   .   .  .., ,*=*!!;!!!*=$$$!
~---~---;;;;;;;;:;:::::!.,,,;~-~;!!!=$=!*!!****==*=*!;:;;;;:::;:~-,,, .... . ,   .,..-=*!!!=**==$#$*
---~~--~;;;;;;;:;::;:,,,.,--~---;!!*=$#*=***=*=====*!;;;:!;:~;;:~-,,,. ....  ,  .,,...;*,--~~:;$##$*
---~~--:;;;;;;;;:.,,.,.,.,~~,,--;!*=$$@#$=*==*$====*;;;;;!;::;;~~-,,,. ,... ..  .,.....:---~~::$#$==
,,-----;!;;;;;;,.,,,.,-,,--,,---;**==$@#$$=$======*;;;::;!;:::;~--,,,..,.,..,. ..- ., .---,~~::$#===
---,--,;!;;;;;,,,,.,..,,-~,,,--~;====$@#$$$$=$==$*;!;;;;;!:~:::~-,.,,....,..-. ..-..,...---~~::=$$=</pre>


Asciigram is a product of the Node Knockout competition.  Visit our <a href='http://nodeknockout.com/teams/comorichweb'>team page</a> for more information.


<p>Here are some libraries and frameworks we are using:</p>


<ul>
	<li>
		<a href='http://evanw.github.com/glfx.js/docs/'></a>
	</li>
	<li>
		<a href='http://enotionz.github.com/jscii/'></a>
	</li>
	<li>
		<a href='http://expressjs.com'></a>
	</li>
	<li>
		<a href='http://bgrins.github.com/filereader.js/'></a>
	</li>
	<li>
		<a href='http://jquery.com/'></a>
	</li>
	<li>
		<a href='http://underscorejs.org/'></a>
	</li>
	<li>
		<a href='http://backbonejs.org/'></a>
	</li>
</ul>
