

<div id="booth-container" class='container-fluid'>

<div class='alert alert-info'>
	You can also <strong>drag and drop</strong> images onto the page &nbsp; <input type="file" id="file-input" name="file-input" multiple="" />
</div>
<div class="row-fluid">

	<div class='span9 screen'>

		<div id="image-space" class="workspace">
			<div id="image-toolbar" class="toolbar">
				<!-- <button class="btn" id="save">Save</button> -->
				<button class="btn" id="webcam">Webcam</button>
				<button class='btn' id="sync" style="display: none;">Save</button>
			</div>

			<img id='logo' width='150' src='/img/person.png' />

			<div>
				<div id="play-controls" style="display:none;">
					<div class="btn-group2">
						<button id="player-play" class="btn btn-inverse"><i class="icon-white icon-play"></i></button>
						<button id="player-pause" class="btn btn-inverse"><i class="icon-white icon-pause"></i></button>
						<button id="player-restart" class="btn btn-inverse"><i class="icon-white icon-retweet"></i></button>
					</div>
					<input type='range' id='timeshift' min=0 />
				</div>

				<pre id="imgascii"></pre>

				<div id="share-container" style="display: none;">
					<label>Share:</label><input id="view-url" />
				</div>
			</div>
		</div>

		<div id="webcam-space" class="workspace">
			<div class='once-enabled'>

				<div id="video-toolbar" class="toolbar once-enabled">

					<button class="btn btn-primary" id="record" data-recording-text="Stop Recording"><i class="icon-facetime-video"></i> <strong>Record</strong></button>
					<button class="btn btn-primary" id="snapshot"><i class="icon-camera"></i> <strong>Take picture</strong></button>
					<br />
					<input type='range' min='5' max='100' id="quality" value="87" />
				</div>

				<video id="video" autoplay></video>

			    <pre id="videoascii"></pre>

			</div>

			<div class='never-enabled alert'>
				Please enable your webcam! <button id='show-image' class='btn'>Back to image</button>
			</div>
		</div>
	</div>

	<div class='span3 channels'>
      	<div id="your-files">
      		<ul id='results'></ul>
  		</div>
	</div>

</div>
</div>

<div id="full-preview">
	<a target="_blank"></a>
	<br />
	<pre></pre>
</div>

<script>APP = true</script>

<div id="debug-toolbar">
<code>Frames: <span id="num-frames"></span> - <span id="size-frames"></span></code>
</div>

<script type='text/handlebars' id="video-list">
<li data-id="{{id}}">
  <pre style="font-size: 3px;">
    {{&	preview}}
  </div>
</li>
</script>
