
<div id="booth-container" class='container-fluid'>

<div class="ascii-container row">

	<div class='span8 pull-left screen'>

		<div id="image-space">

			<div id="image-toolbar" class="toolbar">
				<!-- <button class="btn" id="save">Save</button> -->
				<button class="btn" id="webcam">Webcam</button>
				<input type="file" id="file-input" name="file-input" multiple="" style='display:none;'>
			</div>

			<img id='logo' width='150' src='/img/person.png' />

			<div class='gl-holder'>


				<pre id="imgascii"></pre>
			</div>
		</div>

		<div id="webcam-space" class="ascii-container">


			<div class='once-enabled'>

				<div id="video-toolbar" class="toolbar once-enabled">

					<button class="btn btn-primary" id="record" data-recording-text="Stop Recording"><i class="icon-facetime-video"></i> <strong>Record</strong></button>
					<button class="btn btn-primary" id="snapshot"><i class="icon-camera"></i> <strong>Take picture</strong></button>
					<!--<button class="btn btn-primary" id="record"><i class="icon-facetime-video"></i> <strong>Replay</strong></button>

					<button class="btn" id="save">Save</button>-->
				</div>

				<video id="video" autoplay></video>

			    <pre id="videoascii"></pre>

			</div>

			<div class='never-enabled alert'>
				Please enable your webcam! <button id='show-image' class='btn'>Back to image</button>
			</div>


		</div>


	</div>

	<div class='span3 pull-right channels'>
      	<div id="your-files">
      		<ul id='results'></ul>
  		</div>
	</div>

</div>
</div>

<div id="full-preview">
	<a target="_blank"></a>
	<br />
	<pre></pre>
</div>

<script>APP = true</script>

<code id="num-frames"></code>


<script type='text/handlebars' id="video-list">
<li data-id="{{id}}">
  <pre>
    {{preview}}
  </div>
</li>
</script>
