

<div id="gl-container">
<img id='logo' width='150' src='/img/person.png' />

  <div class='gl-holder'>
    <pre id="imgascii"></pre>
  </div>
</div>


<button class="btn" id="save">Save</button>

<div id="playspace" class="no-video">
	<video id="video" autoplay></video>
    <pre id="videoascii"></pre>
</div>
<script>APP = true</script>