<div style="width: 100%;" class="gram-container">
	<div class="popular-container clearfix">
		<%for (var i=0; i< files.length; i++){ %>
			<div class='popular-preview' data-id="<%= files[i].lookup%>">
				<pre><%= files[i].frames[0].content%></pre>
				<div>
					<a class="btn-mini post" href="#" data-url='/love/'><i class="icon-heart"></i>&nbsp;Love</a>		
					<a class="btn-mini post" href="#" data-url='/hate/'><i class="icon-thumbs-down"></i>&nbsp;Hate</a>				
					<a class="btn-mini" href="/view/<%= files[i].lookup%>"><i class="icon-zoom-in"></i>&nbsp;Full Size</a>
				</div>
			</div>
		<%}%>
	</div>
</div>

