<script type="text/javascript">
	window.LOADEDFILE = <%- file %>;
</script>

<div id="file-player" style="width: 100%;" class="gram-container">
	<pre class="gram-container" id="player"></pre>

	<div id="play-controls">
		<div class="btn-group">
			<button id="player-restart" class="btn btn-inverse"><i class="icon-white icon-retweet"></i></button>
			<button id="player-play" class="btn btn-inverse"><i class="icon-white icon-play"></i></button>
			<button id="player-pause" class="btn btn-inverse"><i class="icon-white icon-pause"></i></button>
		</div>
		<input type='range' id='timeshift' min=0 />
	</div>

	<div id="view-count"> Number of views: <%= numberOfViews %> Loves: <%= loves %> Hates: <%= hates %></div>
	<div class="share"></div>


	<code id="num-ticks"></code>
</div>
