body {
    padding: 0;
    padding-bottom: 30px;
    background: url(/img/grey.png);
}
body.drag {
    background: limegreen;
}
.container {
    position:relative;
}
.full-width {
    /*left: 0;
    right: 0;
    position:relative;
    position:absolute;*/
    background: #333;
    color: #eee;
}

#your-files {
    border: solid 5px #8266A5;
    background: #eee;
    padding: 10px 4px;
    min-height: 500px;
}
#results {
    list-style: none;
    max-height: 490px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}
#results pre {
    word-wrap: break-word;
}
#booth-container {
    padding: 10px 20px;
    margin-top: 18px;
    background: #eee;
    box-shadow: 0 0 10px #ddd;
    text-align: center;
}
#booth-container video, #booth-container canvas {
    opacity:0;
    position:absolute;
    top: -10000px;
    left: -10000px;
}
.workspace {
    background: rgba(128, 128, 128, .4);
    border-radius: 0 4px;
    border: solid 2px #999;
    padding-bottom: 10px;
}
.toolbar {
    margin-bottom: 10px;
    background: #481786;
    padding: 5px;
}

#results li {
    zoom: .2;
    padding: 20px 0;
}

#results li pre {
    cursor: pointer;
    -webkit-transform: all linear .1s;
}
#results li:hover pre {
    border-color: #8266A5;
}

body.previewing #full-preview {
    display:block;
}

#full-preview {
    display:none;
    position:fixed;
    background: #ccc;
    overflow: auto;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    border: solid 3px #333;
    border-radius: 5px;
    text-align: center;
}


body.no-video #webcam-space {
    display: none;
}
body.yes-video #webcam-space {
    display: block;
}
body.yes-video #image-space {
    display: none;
}
.once-enabled {
    display: none;
}
body.webcam-enabled .once-enabled {
    display: block;
}

html, body, input, select, textarea {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
h1, h2, h3, h4 {
  font-family: "MetaPro", "Lucida Grande", sans-serif;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2px;
}
h1 a {
    font-size: 72px;
    line-height: 1;
    color: #444;
    text-decoration: none;
    text-shadow: 5px 5px 5px #D1D1D1;

    -webkit-transition: all linear .1s;
}

h1 a:hover {
    color: #446;
    text-decoration: none;
    text-shadow: -2px -2px #D1D1D1;
}
h2 {
  margin-bottom: 8px;
  color: #444;
  border-bottom: solid 1px #999;
}
h3 {
  color: #68218F;
  border-bottom: solid 1px #999;
}
h4 {
  margin-top: 6px;
}
a {
  color: #00B7FF;
}

pre {
    font: bold 8px/5px monospace;
    color: #000;
    clear: both;
    text-align: left;
    box-shadow: 0 0 10px #300;
    display:inline-block;
    word-break: normal;
}


.jumbotron {
    text-align: center;
    margin-bottom: 10px;
}

video {
    width: 200px;
}

#debug-toolbar {
    position:fixed;
    bottom:0;
    right:0;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-top: solid 1px #ddd;
    background: rgba(255, 255, 255, .3);
}


.gram-container {
    text-align: center;
}
#logo {
    margin: 0 auto;
    text-align: center;
    width: 150px;
    display: block;
}

.popular-preview {
    display: inline-block;
    margin: 10px 20px;
}

.popular-preview pre{
    line-height: 3px;
    font-size:3px;
}


/* CSS Sprites (generated at instantsprite.com) */
.sprite { background: url('/img/social-sprite.png') no-repeat top left; display:inline-block;  }
.sprite.facebook { background-position: 0px 0px; width: 33px; height: 32px;  margin:0 4px;}
.sprite.google { background-position: -43px 0px; width: 33px; height: 32px;  margin:0 4px;}
.sprite.pinterest { background-position: -86px 0px; width: 32px; height: 32px;  margin:0 4px;}
.sprite.twitter { background-position: -128px 0px; width: 33px; height: 33px;  margin:0 4px;}
