body {
	padding: 0;
  	padding-bottom: 30px;
  	background: url(/img/grey.png);
}
body.drag {
	background: limegreen;
}
.full-width {
	/*left: 0;
	right: 0;
	position:relative;
	position:absolute;*/
	background: #333;
	color: #eee;
}

#results {
	position:absolute;
	right:0;
	top: 100px;
	list-style: none;
	border: solid 5px #333;
	border-right: none;
}

#results li {
	zoom: .2;
	color: green;
}

body.no-video #playspace {
	display: none;
}
body.yes-video #playspace {
	display: block;
}
body.yes-video #gl-container {
	display: none;
}
html, body, input, select, textarea {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, sans-serif;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
h1, h2, h3, h4 {
  font-family: "MetaPro", "Lucida Grande", sans-serif;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2px;
  }
h2 {
  margin-bottom: 8px;
  color: #444;
  border-bottom: solid 1px #999;
}
h3 {
  color: #68218F;
  border-bottom: solid 1px #999;
}
h4 {
  margin-top: 6px;
}
a {
  color: #00B7FF;
}

pre {
	font: bold 8px/5px monospace;
	color: #000;
	clear: both;
    text-align: left;
    box-shadow: 0 0 10px #300;
    display:inline-block;
	word-break: normal;
}

video {
	width: 200px;
}

.ascii-container {
	text-align: center;
}
#playspace video {
	opacity:0;
	position:absolute;
	top: -10000px;
	left: -10000px;
}
#gl-container canvas {
	opacity:0;
	position:absolute;
	top: 0;
	left: 0;
}

#image-toolbar {
	display:none;
}
.toolbar {
	margin-bottom: 10px;
}

.gram-container {
	text-align: center;
}
.gl-holder {
	position:relative;
}
#logo {
	margin: 0 auto;
	text-align: center;
	width: 150px;
	display: block;
}

.jumbotron {
	text-align: center;
	margin-bottom: 10px;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
	text-shadow: 0.06em 0.08em #D1D1D1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}


.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

.sprite { background: url('/img/social-sprite.png') no-repeat top left; display:inline-block;  }
.sprite.facebook { background-position: 0px 0px; width: 33px; height: 32px;  margin:0 4px;}
.sprite.google { background-position: -43px 0px; width: 33px; height: 32px;  margin:0 4px;}
.sprite.pinterest { background-position: -86px 0px; width: 32px; height: 32px;  margin:0 4px;}
.sprite.twitter { background-position: -128px 0px; width: 33px; height: 33px;  margin:0 4px;}

